@*

un nome
una descrizione
una foto
un prezzo
Modifichiamo quindi la view Index.cshtml generata in automatico da .Net Core scrivendo l’html che serve a noi per mostrare l’elenco delle pizze (possiamo creare una tabella con bootstrap o una qualche grafica a nostro piacimento che mostri l’elenco delle pizze...proviamo un po’ di creatività se vogliamo!)
Buon lavoro!! :faccia_leggermente_sorridente:*@

@{
    Layout = "_Layout";

    Random rand = new Random();

    string[] name = { "margherita", "parigniana", "fiori di zucca", "capricciosa", "napoletana", "funghi porcini" };
}


<h1 style="text-align:center">le mie pizze</h1>

<div class="container-fluid row p-2 border-2 " style="margin-top:20px; background-color:antiquewhite">
    @for (int i = 0; i < 10; i++)
    {
            <div class="card m-2" style="width: 18rem; background-color:bisque" >
                <img src="https://picsum.photos/200/300?random=\@i" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> @name[rand.Next(0,5)] </h5>
                    <p class="card-text">lorem ipsum, e testo vario </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">prezzo @rand.Next(1, 10) € </li>
                        @*    <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>*@
                </ul>
                            @*  <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                        </div>*@
            </div>
    }
</div>